@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.card-container {
  border: 1px solid #111;
  border-radius: 20px;
  padding: 24px;
  width: 384px;
  height: 522px;
  box-shadow: 8px 8px 0 0 #111;
  background: #fff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-container:hover {
  box-shadow: 16px 16px 0 0 #111;
}

.card-image {
  width: 336px;
  margin: auto;
  margin-bottom: 20px;
}

.card-image img {
  max-width: 100%;
  border-radius: 10px;
}

.card-tag {
  border-radius: 4px;
  padding: 4px 12px;
  width: 82px;
  background-color: #f4d04e;
  margin-bottom: 12px;
}
.card-tag p {
  font-weight: 900;
  font-size: 14px;
  line-height: 150%;
}

.card-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
}

.card-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 12px;
  cursor: pointer;
}
.card-heading:hover {
  color: #f4d04e;
}

.card-text-preview {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #7f7f7f;
  margin-bottom: 24px;
}

.card-author-wrapper {
  display: flex;
  width: 129px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card-author-photo {
  width: 32px;
}
.card-author-photo img {
  max-width: 100%;
}

.card-author-name {
  font-weight: 900;
  font-size: 14px;
  line-height: 150%;
}

.attribution {
  font-size: 0.8em;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}